@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accès refusé";
}

    <header>
        <center><h1><font color="#165E89"> @ViewData["Title"]</font></h1> </center>

        <div class="alert alert-danger alert-dismissible "><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Attention !</strong>Vous n'avez pas accès à cette ressource.</div>
    </header>
