@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmez votre e-mail";

}

<div class="kt-heading kt-heading--md">
    <center><h1><font color="#165E89"> @ViewData["Title"]</font></h1> </center>
</div>
<center><h6> <partial name="_StatusMessage" model="Model.StatusMessage" /></h6></center>