@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
    <div class="row">
        <div class="kt-heading kt-heading--md">
            <center><h1 style=" font-style: italic"><font color="#273746"> Notre SIRH c'est votre solution web pour la gestion des ressources humaines</font></h1> </center>
        </div>





        <div class="div-categoryContainer">

            <img src="~/media/logos/pic55.png" class="picture-left">

            <div class="paragraph-right">
                <h5><font color="#26C4EC">SINORFI SIRH</font></h5>
                <p>
                    <font color="#273746">
                        Notre SIRH  vous permet de gagner du temps sur l'administration du personnel.
                        L'automatisation des processus administratifs vous libère de tâches chronophages pour vous permettre d'accompagner
                        vos collaborateurs dans le développement de leurs compétences. Désormais, les services des ressources humaines,
                        administratif et financier utilisent un même logiciel RH pour une meilleure performance de l'entreprise.
                    </font>
                </p>
            </div>
        </div>
        <div class="div-categoryContaineRr"style="border-left:solid">

            <img src="~/media/logos/pic444.png" class="picture-left">

            <div class="paragraph-right">
                <h5><font color="#26C4EC">Une solution accessible et collaborative</font></h5>
               
            </div>
        </div>

        <div class="div-categoryContaineRr" style="border-left:solid">

            <img src="~/media/logos/pic667.png" class="picture-left">

            <div class="paragraph-right">
                <h5><font color="#26C4EC">Une application web fiable et sécurisée</font></h5>

            </div>
        </div>

    </div>