@{
    //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    Layout = "/Views/Shared/_Layout.cshtml";

}

@*<h1>Manage your account</h1>

    <div>
        <h4>Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }*@

    
    <!-- begin:: Content -->

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>

            <!--End:: App Aside Mobile Toggle-->
            <partial name="_ManageNav" />
            @RenderBody()

        </div>

        <!--End::App-->
    <!-- end:: Content -->
    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
